#about {
    background-image: url("/assets/images/About.png");

    h5 {
        max-width: 600px;
    }
}

.contact-arrow-down {
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
}
