.slide-up {
  animation: slide-up 1s ease forwards;
}

.slide-down {
  animation: slide-down 1s ease forwards;
}

.slide-left {
  animation: slide-left 1s ease forwards;
}

.slide-right {
  animation: slide-right 1s ease forwards;
}

.slide-out-left {
  animation: slide-out-left 1s ease forwards;
}

.slide-out-right {
  animation: slide-out-right 1s ease forwards;
}

.slide-out-up{
  animation: slide-out-up 1s ease forwards;
}

.slide-out-down {
  animation: slide-out-down 1s ease forwards;
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
    visibility: visible;
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
    visibility: visible;
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
    visibility: visible;
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0%);
    visibility: visible;
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    visibility: visible;
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-out-down {
  from {
    transform: translateY(0%);
    visibility: visible;
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    visibility: visible;
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-out-up {
  from {
    transform: translateY(0%);
    visibility: visible;
  }
  to {
    transform: translateY(-100%);
  }
}