#index {
  background-image: url("/assets/images/landingWide.jpg");
}

* {
  touch-action: pan-y;
}

#copy {
  left: 50%;
  transform: translateX(-25%);

  h4 {
    bottom: 5rem;
    left: 35%;
  }
}

.inshadow {
  -webkit-box-shadow: inset 0px 0px 70px 100px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px 0px 70px 100px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px 0px 70px 100px rgba(0, 0, 0, 0.9);
  min-width: 100%;
  min-height: 100%;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
}

.logo {
  top: 3rem;
  left: 1rem;
  width: 20%;
}

@media (max-width: 767.98px) {
  #index {
    // background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("/assets/images/landingWide.jpg");
  }

  .logo {
    width: 45%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    font-size: 2em;
  }

  .small-contain {
    text-align: center;
    padding: 1rem 0 0 0 !important;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 575.98px) {
  .no-bottom {
    padding-bottom: 0 !important;
  }

  #index {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("/assets/images/landingNarrow.jpg");
  }

  h1 {
    font-size: 1.5em;
  }

  #copy {
    left: 50%;
    transform: translateX(-50%);

    div {
      text-align: center !important;
    }
  }
}
